/*-- header --*/
input[type="submit"],.panel-body ul li a,.checkout-right-basket a,.additional_info_sub_grid_right a,.panel_bottom li a,.panel-title a,.breadcrumb_dress ul li a,.multi-column-dropdown li a,.footer-copy p a,.w3_footer_grid ul li a,.agileinfo_banner_bottom1_grid_left a,.navbar-default .navbar-nav > li > a,.simpleCart_shelfItem p a,.agile_ecommerce_tab_left h5 a,.w3_hs_bottom ul li a,.team-bottom a{
	transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
}
.header {
    padding: 2em 0 0;
}
.w3l_login{
	float:left;
}
.w3l_logo{
	float:left;
	margin-left:22em;
}
.w3l_logo h1 a{
	font-size:1.1em;
	color:#212121;
	text-decoration:none;
}
.w3l_logo h1 a span {
    display: block;
    font-size: .3em;
    text-transform: capitalize;
    letter-spacing: 7px;
    padding-left: 4px;
    text-align: center;
    margin-top: 0.5em;
}
.w3l_login a {
    font-size: .8em;
    color: #3c43a4;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    border: 1px solid #3c43a4;
	margin-top: 0.5em;
}
.w3l_login a span{
	top:1.3em;
}
a.act {
    color:#ff5063 !important;
}
/*-- search --*/
.search{
	position: relative;
    display: inline-block;
    float: left;
    margin:0.8em 0 0 8em;
}
label.icon-search {
    color: #212121;
	cursor: pointer;
}
.search_form{
	position:absolute;
	z-index:9999;
	right:0;
	top:15px;
	overflow: hidden;
	width: 20px;
	height:0px;
	background:#212121;
	transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
	-webkit-transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}
.search_form form{
	opacity:0;
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
}
.search_form input[type='text']{
	width: 380px;
    padding: 10px;
    outline: none;
    font-size: 14px;
    color:#fff;
    border: 1px solid #999;
    background: none;
}
.search_form input[type='text']::-webkit-input-placeholder{
	color:#fff !important;
}
.search_form input[type='submit']{
    outline: none;
    background: none;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 1px solid #999;
    text-transform: uppercase;
    padding: 10px 28px;
}
.search_form input[type='submit']:hover{
	background:#fff;
	border:1px solid #fff;
	color:#212121;
}
.search_box{
	visibility: hidden;
}
.search_box:checked~.search_form{
    width: 500px;
    height: 62px;
    padding: 10px;
    top: 44px;
	transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
	-webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
}
.search_box:checked~.search_form form{
	opacity:1;
	transition:0.3s all ease-out 0.5s;
	-webkit-transition:0.3s all ease-out 0.5s;
}
label.icon-search span {
    color: #ff5063;
    border: 1px solid;
    padding: .6em;
}
/*-- //search --*/
.box_1 {
	float: right;
	margin-top: 10px;
}
.box_1 a {
  color:#3c43a4;
  font-size: 1em;
  margin: 0;
}
.total {
  display: inline-block;
  vertical-align: middle;
}
.box_1 a img {
  margin: 3px 0 0 0px;
}
.box_1 p {
	margin: 0;
    color: #999;
    font-size: 14px;
}
a.simpleCart_empty {
	color:#212121;
    font-size: 13px;
    text-decoration: none;
    text-align: right;
    display: block;
}
.w3view-cart {
    background: #ff5063;
    border: none;
    -o-border-radius: 7%;
    -ms-border-radius: 7%;
    -moz-border-radius: 7%;
    -webkit-border-radius: 7%;
    border-radius: 7%;
    width: 50px;
    height: 44px;
    text-align: center;
    outline: none;
    position: fixed;
    right: 14%;
	z-index: 999
}
.w3view-cart i.fa {
    font-size: 1.8em;
    color: #ffffff;
    vertical-align: middle;
}
/*-- //header --*/

.w3l_login a {
    font-size: .8em;
    color: #3c43a4;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    border: 1px solid #3c43a4;
	margin-top: 0.5em;
}
.w3l_login a span{
	top:1.3em;
}
/*-- cart-css --*/
#w3lssbmincart form {
    position: relative;
    padding: 1em;
    background: #fbfbfb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    border-radius: 4px;
    color: #333;
	-webkit-box-shadow: 0px 0px 5px 2px #9a9a9a;
	-moz-box-shadow: 0px 0px 5px 2px #9a9a9a;
	-o-box-shadow: 0px 0px 5px 2px #9a9a9a;
	-ms-box-shadow: 0px 0px 5px 2px #9a9a9a;
    box-shadow: 0px 0px 5px 2px #9a9a9a;
}
#w3lssbmincart form  ul {
    overflow-y: scroll;
    max-height: 300px;
}
#w3lssbmincart {
    display: none;
    position: fixed;
    left: 68%;
    top:16%;
	width: 420px;
}
.sbmincart-showing #w3lssbmincart {
    display: block;
    z-index: 9999;
    -webkit-animation: zoomIn .3s ease;
	-moz-animation: zoomIn .3s ease;
	-o-animation: zoomIn .3s ease;
	-ms-animation: zoomIn .3s ease;
	animation: zoomIn .3s ease;
}
#w3lssbmincart form.sbmincart-empty {    font-size: 16px;    font-weight: bold;}
#w3lssbmincart ul {    clear: both;    float: left;    width: 100%;    margin: 5px 0 20px;    padding: 1em;    list-style-type: none;    background: #fff;    border: 1px solid #ccc;    border-radius: 4px;    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);}
#w3lssbmincart .sbmincart-empty ul {    display: none;}
#w3lssbmincart .sbmincart-closer {
    float: right;
    margin:-8px -10px 0;
    padding: 0 10px;
    background: 0;
    border: 0;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
#w3lssbmincart .sbmincart-item {
    clear: left;
    padding: 7px 0;
    min-height: 35px;
	font-size: 0.85em;
}
#w3lssbmincart .sbmincart-item + .sbmincart-item {    border-top: 1px solid #f2f2f2;}
#w3lssbmincart .sbmincart-item a {    color: #333;    text-decoration: none;}
#w3lssbmincart .sbmincart-details-name {    float: left;    width: 62%;}
#w3lssbmincart .sbmincart-details-quantity {    float: left;    width: 15%;}
#w3lssbmincart .sbmincart-details-remove {    float: left;    width: 7%;}
#w3lssbmincart .sbmincart-details-price {    float: left;    width: 16%;    text-align: right;}
#w3lssbmincart .sbmincart-attributes {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    overflow: inherit;
    height: inherit;
}
#w3lssbmincart .sbmincart-attributes li {    display: inline;}
#w3lssbmincart .sbmincart-attributes li:after {    content: ",";}
#w3lssbmincart .sbmincart-attributes li:last-child:after {    content: "";}
#w3lssbmincart .sbmincart-quantity {    width: 30px;    height: 18px;    padding: 2px 4px;    border: 1px solid #ccc;    border-radius: 4px;    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);    font-size: 13px;    text-align: right;    transition: border linear 0.2s, box-shadow linear 0.2s;    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;}
#w3lssbmincart .sbmincart-quantity:hover {    border-color: #0078C1;}
#w3lssbmincart .sbmincart-quantity:focus {    border-color: #0078C1;    outline: 0;    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(0, 120, 193, 0.4);}
#w3lssbmincart .sbmincart-remove {    width: 18px;    height: 19px;    margin: 2px 0 0;    padding: 0;    background: #b7b7b7;    border: 1px solid #a3a3a3;    border-radius: 3px;    color: #fff;    font-size: 13px;    opacity: 0.70;    cursor: pointer;}
#w3lssbmincart .sbmincart-remove:hover {    opacity: 1;}
#w3lssbmincart .sbmincart-footer {
    clear: left;
    text-align: center;
	margin-right: 1.5em;
    position: relative;
}
p.sbmincart-empty-text {
    color: #f44336;
    font-weight: 500;
}
#w3lssbmincart .sbmincart-subtotal {
    bottom: 3px;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: left;
}
#w3lssbmincart .sbmincart-submit {
    margin-right: 6px;
    padding: 0;
    border: none;
    color: #ff5063;
    background: none;
    outline: none;
    font-size: 0.9em;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    right: 0;
    top: 0;
}
/* Let's get this party started */
#w3lssbmincart form  ul::-webkit-scrollbar {
    width: 5px;
}
/* Track */
#w3lssbmincart form  ul::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #999;
	-moz-box-shadow: inset 0 0 6px #999;
	-o-box-shadow: inset 0 0 6px #999;
	-ms-box-shadow: inset 0 0 6px #999;
	box-shadow: inset 0 0 6px #999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
/* Handle */
#w3lssbmincart form  ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
    border-radius: 10px;
    background: #3c43a4;
	-moz-box-shadow: inset 0 0 6px #3c43a4;
	-o-box-shadow: inset 0 0 6px #3c43a4;
	-ms-box-shadow: inset 0 0 6px #3c43a4;
    -webkit-box-shadow: inset 0 0 6px #3c43a4;
	box-shadow: inset 0 0 6px #3c43a4;
}
/*-- //cart-css --*/


.navigation {
    margin: 2em 0 0;
	text-align:center;
	background:#3c43a4;
    }