{% extends "layout.html" %}
{% load mptt_tags %}
{% load custom_filters %}
{% block content %}

    <style>
        .new {
            background-color: #8493ca;
            display: inline-block;
            font-size: 11px;
            color: #fff;
            right: 20px;
            top: 20px;
            padding: 1px 16px;
            font-weight: 700;
            text-align: center;
            position: absolute;
            text-transform: uppercase;
            height: 26px;
            line-height: 24px;
        }

        .price-dec {
            background-color: sandybrown;
            display: inline-block;
            font-size: 11px;
            color: #fff;
            right: 20px;
            top: 20px;
            padding: 1px 16px;
            font-weight: 700;
            text-align: center;
            position: absolute;
            text-transform: uppercase;
            height: 26px;
            line-height: 25px;
        }

        .item {
            padding: 1%;
            margin-top: 5px;
        }

        .section-title {
            text-align: center;
        }

        .section-title a {
            color: black;
            text-decoration: none;
        }

        .section-title hr {
            margin-top: 0;
            border: 2px solid sandybrown;
            width: 5%;
        }

        .section-title h2:hover ~ hr {
            background-color: red;
            width: 10%;
        }

        @media (max-width: 768px) {
            .item h5 {
                font-size: 20px;
            }

            .item s {
                font-size: 10px
            }

            .item .discount-flag {
                font-size: 12px
            }
        }

        .item del {
            color: red;
        }

        .item :hover h6 {
            color: darkred;
        }

        .item a {
            text-decoration: None;
            color: black;
        }

        .item .card {
            background-color: white;
            padding: 20px;
            box-shadow: 5px 5px 8px 1px #d4d4d4;
        }
    </style>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Store</h1>
            <p class="lead">Where you can buy and sell items!!</p>
        </div>
    </div>

    {% if biggestDiscount > 0 %}
        <section style="margin-top: 5vh">
        <div class="container">
            <div class="section-title">
                <h2><a href="{% url 'ItemsPagePromos' %}">Discounts up to {{ biggestDiscount }}%</a></h2>
                <hr>
            </div>
            <div class="row">
                 {% for item in discountedItems %}
                    <div class="col-lg-3 col-md-6 mb-4 item">

                      <div class="card">

                          <a href="{% url 'item' item.id %}">
                              <div class="view overlay">
                                  <img class="card-img-top" src="{{ item.picture.url }}" >
                                  <a>
                                      <div class="mask rgba-white-slight"></div>
                                  </a>
                                  {% if item.insertDate|is_new %}
                                        <span class="new" {% if item.discount != 0 %} style="top: 50px" {% endif %}>New</span>
                                  {% endif %}
                                  {% if item.discount != 0 %}
                                        <span class="price-dec">{{ item.discount }}% Off</span>
                                  {% endif %}
                              </div>
                          </a>
                          <div class="card-body text-center">

                              <h5>
                                  <strong>
                                      <a class="dark-grey-text" href="{% url 'item' item.id %}">{{ item.name }} </a>
                                  </strong>
                              </h5>

                              <h4 class="blue-text">
                                  {% if item.discount != 0 %}
                                      {% with perc=item.discount|div:100 %}
                                          {% with op=1|sub:perc %}
                                              <strong>{{ item.price|mul:op|floatformat:2 }}€</strong> <del>{{ item.price }}€</del>
                                          {% endwith %}
                                      {% endwith %}
                                  {% else %}
                                      <strong>{{ item.price }}€</strong>
                                  {% endif %}
                              </h4>

                              <span class="category-link"><a href="{% url 'ItemsPageCat' item.category.slug%}">{{ item.category }}</a></span>
                          </div>

                      </div>

                  </div>
                 {% endfor %}
            </div>
        </section>
    {% endif %}



    <section style="margin-top: 5vh">
        <div class="container">
            <div class="section-title">
                <h2><a href="{% url 'ItemsPageNew' %}">New In</a></h2>
                <hr>
            </div>
            <div class="row">
                {% for item in newestItems %}
                    <div class="col-lg-3 col-md-6 mb-4 item">

                        <div class="card">

                            <a href="{% url 'item' item.id %}">
                                <div class="view overlay">
                                    <img class="card-img-top" src="{{ item.picture.url }}">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                    {% if item.insertDate|is_new %}
                                        <span class="new" {% if item.discount != 0 %}
                                              style="top: 50px" {% endif %}>New</span>
                                    {% endif %}
                                    {% if item.discount != 0 %}
                                        <span class="price-dec">{{ item.discount }}% Off</span>
                                  {% endif %}
                              </div>
                          </a>
                          <div class="card-body text-center">

                              <h5>
                                  <strong>
                                      <a class="dark-grey-text" href="{% url 'item' item.id %}">{{ item.name }} </a>
                                  </strong>
                              </h5>

                              <h4 class="blue-text">
                                  {% if item.discount != 0 %}
                                      {% with perc=item.discount|div:100 %}
                                          {% with op=1|sub:perc %}
                                              <strong>{{ item.price|mul:op|floatformat:2 }}€</strong> <del>{{ item.price }}€</del>
                                          {% endwith %}
                                      {% endwith %}
                                  {% else %}
                                      <strong>{{ item.price }}€</strong>
                                  {% endif %}
                              </h4>

                              <span class="category-link"><a href="{% url 'ItemsPageCat' item.category.slug%}">{{ item.category }}</a></span>
                          </div>

                      </div>

                  </div>
                 {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}