{% extends 'layout.html' %}
{% block content %}
 <section class="text-center mb-4">
<div class="row wow fadeIn ">

          {% for item in items %}
          <div class="col-lg-3 col-md-6 mb-4">

            <div class="card">

              <div class="view overlay">
                {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" {% endcomment %}
                <img class="card-img-top"  src="{{ item.picture.url }}" class="card-img-top">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">

                <h5>
                  <strong>
                    <a class="dark-grey-text">{{ item.name }}
                      <span class="badge">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  {% if item.discount != 0 %}
                {% with perc=item.discount|div:100 %}
                {% with op=1|sub:perc %}
                    <del>{{ item.price }}€</del> <strong>{{ item.price|mul:op }}€</strong> ({{ item.discount }}% off)
                {% endwith %}
                {% endwith %}
            {% else %}
                <strong>{{ item.price }}€</strong>
    {% endif %}
                </h4>
                  <span><a href="{% url 'ItemsPageCat' item.category.slug%}">{{ item.category }}</a></span>

              </div>

            </div>

          </div>
          {% endfor %}
        </div>
 </section>
{% endblock %}