<style>
    .price-input input {
        width: 100%;;
    }

    #filters .form-group ul {
        width: 100%;
        margin: 0px -15%  ;
        list-style: None;
        max-height: 18vh;
        overflow: auto
    }

</style>
    <div class="container filter-tab">

    <section>
        <div class="container">
        <form method="get" action="." id="filters" name="filters">
            <div class="form-group" id="order">
                {{ form.order.label_tag }}
                <div>
                    {{ form.order }}
                </div>
            </div>
            <div class="form-group" id="category">
                {{ form.categories.label_tag }}
                <div>
                    {{ form.categories }}
                </div>
            </div>
            <div class="form-group" id="prices">
                {{ form.price.label_tag }}
                <div>
                    {{ form.price }}
                </div>
            </div>
            <div class="form-group" id="brands">
                {{ form.brand.label_tag }}
                <div>
                    {{ form.brand }}
                </div>
            </div>
            <div class="form-group" id="availability">
                {{ form.availability.label_tag }}
                <div>
                    {{ form.availability }}
                </div>
            </div>
            <div class="form-group" id="discounted">
                {{ form.discounted.label_tag }}
                <div>
                    {{ form.discounted }}
                </div>
            </div>
            <div class="form-group" id="reviews">
                {{ form.reviews.label_tag }}
                <div>
                    {{ form.reviews }}
                </div>
            </div>
        </form>
        </div>
    </section>
    </div>


<script>
    $(document).ready(function () {
        let $form = $("#filters")
        let $min =  $("input[name=price]")


        $("#filters input").change(function () {
            $form.submit()
        })

        $("#filters select").change( function () {
            $form.submit()
        })

    });

</script>