{% extends "layout.html" %}
{% load mathfilters %}

{% block content %}

    <div class="itemPage">
        <div id="itemImgBig">
            <img src="{{ item.picture.url }}" id="imgBig">
        </div>
        <div id="itemText">
            <h2><b>{{ item.name }}</b></h2>
            {% if item.discount != 0 %}
                {% with perc=item.discount|div:100 %}
                {% with op=1|sub:perc %}
                    <p><h3><del>{{ item.price }}€</del> <strong>{{ item.price|mul:op }}€</strong> ({{ item.discount }}% off)</h3>
                {% endwith %}
                {% endwith %}
            {% else %}
                <h3>{{ item.price }}€</h3>
            {% endif %}
                <p>Sell for {{ item.sellMoney }}</p>

            <h5>{{ item.brand }}</h5>
            <h5>{{ item.description }}</h5>
            {# <h5>{{ item.category }}</h5> #}
        </div>
    </div>
    <div>
    </div>
    <div>
    <h2><a href="#">Add to cart</a></h2>
    </div>
    <div class="container-fluid" style="padding-top: 10px">
    <h1>Comments</h1>
    <p></p>
    {% if comments %}
        {% for comment in comments %}

            <h3><b>{{ comment.user }}</b>:
            {% if comment.stars == 0 %}
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if comment.stars == 1 %}
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if comment.stars == 2 %}
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if comment.stars == 3 %}
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if comment.stars == 4 %}
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if comment.stars == 5 %}
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% endif %}
            </h3>
            <p>&emsp;{{ comment.text }}</p>
        {% endfor %}
    {% else %}
        <p>No comments for this item</p>
    {% endif %}
    </div>
{%  endblock %}

{# fazer filtro para os comments, por estrelas #}
{# até se podia acrescentar a data em q foi feito - maybe #}
{# adicionar sitio para por add to cart #}

