{% extends "layout.html" %}
{% load custom_filters %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <img src="{{ item.picture.url }}" style="width: 100% !important; height: auto !important;">
            </div>

            <div class="col-sm-5">
                <h2><b>{{ item.name }}</b></h2>
                {% if item.discount != 0 %}
                    {% with perc=item.discount|div:100 %}
                        {% with op=1|sub:perc %}
                            <p>
                            <h3>
                                <del>{{ item.price }}€</del>
                                <strong>{{ item.price|mul:op }}€</strong> ({{ item.discount }}% off)
                            </h3>
                        {% endwith %}
                    {% endwith %}
                {% else %}
                    <h3>{{ item.price }}€</h3>
                {% endif %}
                <p>Sell for {{ item.sellMoney }}</p>

                <h5>{{ item.brand }}</h5>
                <h5>{{ item.description }}</h5>
                {% if user.is_authenticated %}
                    <div>
                        <h2>Add to cart</h2>
                    </div>
                    {# https://www.youtube.com/watch?v=Xjty8q524Jo #}
                    <a href="{% url 'addToCart' item.id %}" class="btn btn-primary btn-md my-0 p">
                        Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <div>
                        <br>
                        <h5>Sell this item</h5>
                    </div>
                    {# https://www.youtube.com/watch?v=Xjty8q524Jo #}
                    <a href="{% url 'sellItem' item.id %}" class="btn btn-danger btn-sm my-0 p">
                        Sell item
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                {% else %}
                    <p>To buy and sell items you must be logged in.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-md my-0 p">
                        Log in
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="container-fluid" style="padding-top: 10px">
                <h1>Comments</h1>
                <br>
                {% if comments %}
                    {% for comment in comments %}

                        <h3><b>{{ comment.user }}</b>:
                            {% if comment.stars == 0 %}
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            {% endif %}
                            {% if comment.stars == 1 %}
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            {% endif %}
                            {% if comment.stars == 2 %}
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            {% endif %}
                            {% if comment.stars == 3 %}
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            {% endif %}
                            {% if comment.stars == 4 %}
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            {% endif %}
                            {% if comment.stars == 5 %}
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            {% endif %}
                        </h3>
                        <p>&emsp;{{ comment.text }}</p>
                    {% endfor %}
                {% else %}
                    <p>No comments for this item</p>
                {% endif %}
            </div>
        </div>



    {% comment %}<div class="container">
        <div class="itemPage">
            <div id="itemImgBig">
                <img src="{{ item.picture.url }}" id="imgBig">
            </div>
            <div id="itemText">
                <h2><b>{{ item.name }}</b></h2>
                {% if item.discount != 0 %}
                    {% with perc=item.discount|div:100 %}
                        {% with op=1|sub:perc %}
                            <p>
                            <h3>
                                <del>{{ item.price }}€</del>
                                <strong>{{ item.price|mul:op }}€</strong> ({{ item.discount }}% off)
                            </h3>
                        {% endwith %}
                    {% endwith %}
                {% else %}
                    <h3>{{ item.price }}€</h3>
                {% endif %}
                <p>Sell for {{ item.sellMoney }}</p>

                <h5>{{ item.brand }}</h5>
                <h5>{{ item.description }}</h5>
            </div>
        </div>
        <div>
        </div>
        <div>
            <h2>Add to cart</h2>
        </div>
        {# https://www.youtube.com/watch?v=Xjty8q524Jo #}
        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
            Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
        </a>
        <div class="container-fluid" style="padding-top: 10px">
            <h1>Comments</h1>
            <p></p>
            {% if comments %}
                {% for comment in comments %}

                    <h3><b>{{ comment.user }}</b>:
                        {% if comment.stars == 0 %}
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        {% endif %}
                        {% if comment.stars == 1 %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        {% endif %}
                        {% if comment.stars == 2 %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        {% endif %}
                        {% if comment.stars == 3 %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        {% endif %}
                        {% if comment.stars == 4 %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        {% endif %}
                        {% if comment.stars == 5 %}
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        {% endif %}
                    </h3>
                    <p>&emsp;{{ comment.text }}</p>
                {% endfor %}
            {% else %}
                <p>No comments for this item</p>
            {% endif %}
        </div>
    </div>{% endcomment %}

{% endblock %}

{# até se podia acrescentar a data em q foi feito - maybe - comments #}

