{% extends "layout.html" %}
{% load custom_filters %}

{% block content %}

    <style>
        .new {
            background-color: #8493ca;
            display: inline-block;
            font-size: 11px;
            color: #fff;
            right: 20px;
            top: 0px;
            padding: 1px 16px;
            font-weight: 700;
            text-align: center;
            position: absolute;
            text-transform: uppercase;
            height: 26px;
            line-height: 24px;
        }

        .price-dec {
            background-color: sandybrown;
            display: inline-block;
            font-size: 11px;
            color: #fff;
            right: 20px;
            top: 0px;
            padding: 1px 16px;
            font-weight: 700;
            text-align: center;
            position: absolute;
            text-transform: uppercase;
            height: 26px;
            line-height: 25px;
        }

        .item {
            padding: 1%;
            margin-top: 5px;
        }

        .details {
            font-size: medium;
            max-height: 10vh;
        }

        @media (max-width: 768px) {
            .item h5 { font-size: 20px; }
            .item s {font-size: 10px}
            .item .discount-flag {font-size: 12px}
        }

        .item del  {
            color: red;
            font-size: medium;
        }

        .item  a {
            text-decoration: None;
            color: black;
        }

        .item .card {
            {#background-color: #f1ffff;#}
            background-color: white;
            padding: 20px;
            box-shadow: 5px 5px 8px 1px #d4d4d4;
        }
    </style>


    <div class="container">


            <h4>Search for: <strong>{{ query }}</strong></h4>
            {% if items %}
            <p>Found {{ items|length }} item{{ items|pluralize }}.</p>

            {% for item in items %}
                <div class="item">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{% url 'item' item.id %}">
                                <img class="card-img-top" src="{{ item.picture.url }}" >
                                    {% if item.insertDate|is_new %}
                                        <span class="new" {% if item.discount != 0 %} style="top: 30px" {% endif %}>New</span>
                                  {% endif %}
                                  {% if item.discount != 0 %}
                                        <span class="price-dec">{{ item.discount }}% Off</span>
                                  {% endif %}

                                </a>
                            </div>
                            <div class="col-md-8">
                               <div id="itemText">
                                    <a href="{% url 'item' item.id %}">
                                        <h4><b>{{ item.name }}</b></h4>
                                        {% if item.discount != 0 %}
                                        {% with perc=item.discount|div:100 %}
                                        {% with op=1|sub:perc %}
                                            <p><h5><strong>{{ item.price|mul:op }}€ <del>{{ item.price }}€</del></strong></h5>
                                        {% endwith %}
                                        {% endwith %}
                                    {% else %}
                                        <h5>{{ item.price }}€</h5>
                                    {% endif %}
                                    <div class="details">
                                        <span><strong>Details:</strong></span>
                                        <p class="text-truncate">{{ item.description }}</p>
                                    </div>
                                        <p><strong>Brand:</strong> {{ item.brand }}</p>
                                        <p><strong>Category: </strong><a href="{% url 'ItemsPageCat' item.category.slug%}">{{ item.category }}</a></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%  endfor %}
            {% else %}
                <p>Not found any result.</p>
            {% endif %}

        </div>
    </div>
{%  endblock %}
