{% extends 'layout2.html' %}


{% block cont %}

    <div class="container">
        <br>
        <h2>Sign up</h2>
        <hr/>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <input type="submit" value="Log in" class="btn btn-secondary"/>
            <br>
            <div>
        <pre>


Birthdate format is YYYY-MM-DD
        </pre>
            </div>


        </form>
    </div>
{% endblock %}