{% extends 'AdminTemplates/sidebar.html' %}

{% block main %}
    <style>
        input[type=text] {
            width: 20%;
        }
        select {
            width: 20%;
        }
    </style>


<div class="container">
    <br>
    <section>
        <h4>Add a subcategory</h4><br>
        <form action="." method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-2">
                    {{ form.parent.label_tag }}
                </div>
                {{ form.parent }}
            </div>
            <br>
            <div class="form-row">
                <div class="col-md-2">
                    {{ form.subcategory.label_tag }}
                </div>
                {{ form.subcategory }}
            </div>
            <br>
            <div class="form-row">
                <div class="col-md-2">
                    <a href="{% url 'CategoryManagement' %}" class="btn btn-outline-danger">Back</a>
                </div>
                <input type="submit" name="add" value="Add Subcategory" class="btn btn-success">
            </div>
        </form>
    </section>
</div>
{% endblock %}