{% extends "AdminTemplates/sidebar.html" %}

{% block main %}
    <br>
    <div class="container-fluid">
        <div class="row d-flex justify-content-between col-md-12">
            <h3>Select {{ type }} to edit</h3>
            <a class="btn btn-dark" href="add/"> <i style="font-size: large" class="material-icons">add</i>Add {{ type }}</a>
        </div>
        <br>
            <table class="table table-striped">
                <thead>
                    <tr class="thead-dark">
                        <th style="width: 84%" colspan="2">{{ type|capfirst }} name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                        <tr>
                            <td style="width: 90%"><a href="{{ row.id }}/edit">{{ row.name }}</a></td>
                            <td style="width: 5%"><a href="{{ row.id }}/delete"><i class="material-icons md-18">delete</i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class="col-md-12">
            <p>{{ type|capfirst  }} total: {{ table|length }}</p>
        </div>
    </div>
{% endblock %}